#myModal {
    width: 298px; height: 218px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #bbf0e9cc;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

#myModal #myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: radial-gradient(#34775b, #42445396);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}